doctype html
html(lang='en')
  head
    style
      include index.css
    title 003
  body
    .container
      .center
        .circle
          .sky
          .sun
          .side-left
          .side-right
          .shadow
          .ground
