doctype html
html
  head
    style
      include index.css
  body
    .container
      .wrapper
        .number
          .one
          .one-thingy
          .zero.zero-1
          .zero.zero-2
        .text
          .big DAYS
          .small CSS チャレンジ!